.film_container{
    max-height: 100vh;
    background-color:#0d0d0e;
    color: white;
    flex: 1;
    padding: 50px;
    margin: 0 100px 60px 80px;
}

.AddToFavBttn{
   background: transparent;
   cursor: pointer;
   color: none;
   border: none;
  

}

.headline{
    color: white;
    height: fit-content;
    margin: auto;
}

.poster_container{
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-top: 20px;
   
}

.poster_container img{
    width: 100%;
   
}

.details_container{
    width: 100%;
    height: 100%;
    border-bottom: 1px solid #3b3b3b;
    padding-bottom: 10px;

}

.filmHeader_container{
    background-color: #282727;
    padding: 10px 0 10px 20px;
}

.filmHeader_container h1, .filmHeader_container h5{
    margin:0;
}

.filmHeader_container h5{
    color: #FFFFFF87;
}

.imgAndPara_container{
    display: flex;
}

.opening_text{
    line-height: 2em;
    margin-top: 10px;
}

.paragraph_container{
    padding: 25px 30px 10px 40px;
    
}

.opening_title{
    margin-top: 10px;
}

.created span, .opening_title span{
    color: #ffffffa8;
}