.film_container{
    max-height: 100vh;
    background-color:#151515;
    color: white;
    flex: 1;
    padding: 50px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.AddToFavBttn{
   background: transparent;
   border: none;
   cursor: pointer;
   color: none;

}

.headline{
    color: blanchedalmond;
    height: fit-content;
    margin: auto;
}

.img_container{
    max-width: 331px;
    max-height: 533px;
    position: absolute;

}

.img_container img{
    width: 100%;

}