.film_container{
    max-height: 650px;
    background-color:#0d0d0e;
    color: white;
    flex: 1;
    padding: 50px;
    margin: 0 80px 20px 80px;
    
}

.AddToFavBttn{
   background: transparent;
   cursor: pointer;
   color: none;
   border: none;
  

}

.headline{
    color: white;
    height: fit-content;
    margin: auto;
}

.poster_container{
    width: 100%;
    max-width: 320px;
    height: auto;
    margin-top: 20px;
   
}

.poster_container img{
    width: 100%;
   
}

.details_container{
    max-height: 100%;
    border-bottom: 1px solid #3b3b3b;
    padding-bottom: 10px;

}

.filmHeader_container{
    background-color: #282727;
    padding: 10px 0 10px 20px;
}

.filmHeader_container h1, .filmHeader_container h5{
    margin:0;
}

.filmHeader_container h5{
    color: #FFFFFF87;
}

.imgAndPara_container{
    display: flex;
}



.paragraph_container{
    padding: 20px 0 0 20px;
    
}

.opening_title{
    margin-top: 10px;
    line-height: 2em;
}

.created span, .opening_title span, .charList_title{
    color: #ffffffa8;
}

.charList_title{
    margin-top: 10px;
}
.charList{
    margin:0;
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
    list-style: url('../../img/icons8-stormtrooper-20.png');
    justify-content: space-evenly;
}

.charList .char{
    margin: auto;
    width: fit-content;
 
}


.paginationBttns{
    list-style: none;
    display: flex;
    margin: 0 auto;
}

.paginationBttns li{
    padding: 10px;
    cursor: pointer;
  
}

.paginationBttns a:hover {
    color: #efdf52;
  }

  .paginationBttns .previous, .paginationBttns .next{
      font-weight: bold;
  }

  .paginationBttns .selected{
      color: #efdf52;
      font-weight: bold;
  }

  .pagination{
    border: 1px solid #ffffffa8;
    border-radius: 10px;
    background-color: #201e1e;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }


  /*/////  media  ///////*/

  @media screen and (max-width: 1200px){
      .film_container{
          min-height: 100vh;
          max-height: inherit;
      }

      .imgAndPara_container{
          flex-direction: column;
          align-items: center;
      }
      
  }

  @media screen and (max-width: 768px){
    .film_container{
        margin: 30px 25px;
        padding: 0;
    }

    .pagination{
        padding: 10px 10px 10px 25px;
    }

    .charList{
        gap:20px;
    }

    .charList .char{
        margin: 0;
    }

    .paragraph_container{
        padding: 0;
    }

    .created, .opening_title, .charList_title{
        padding: 10px;
    }

    .paginationBttns{
        flex-wrap: wrap;
    }
  }
  


