.TOC_container{
    color: white;
    padding-left: 70px;
    background-image: url('../../img/background_header.jpg');
}

.TOC_container a{
    color: white;
    text-decoration: none;
}

.TOC_container > div{
	display:flex;
    flex-direction: column;
	gap: 50px;
}


.loading{
	color: white;
}

.TOC_container #hamburger {
	background: url("../../img/hamburger.png");
	background-size: cover;
	height: 24px;
	width: 24px;
	background-color: transparent;
	border: 0;
	cursor: pointer;
	display: none;
  }
  

  /*/////  media  ///////*/

@media screen and (max-width: 768px){
	.TOC_container{
		flex-direction: row;
		gap: 30px;
		padding: 10px 20px;
		
	}

	.TOC_container > div{
		display: none;
	}

	#hamburger{
		display: initial !important;
		position: absolute;
	}

	.view{
		display:flex !important;
		position: relative;
		left: 60px;
		padding-bottom: 10px;
		width: fit-content;
	}

	.view a, .view a div{
		width: fit-content;
		border-bottom: 1px solid white;
	}
}