.page_container{
    display: flex;
    height: 100vh;
    flex-direction: column;
    font-family: 'Roboto Mono', monospace;
    background-color: black;
}

.main_container{
    display: flex;
    height: 100%;
    background-color: black;

}

@media screen and (max-width: 1200px){
    .page_container{
        height: inherit;
    }
    
}

@media screen and (max-width: 768px){
	.main_container{
      flex-direction: column;
      min-height: 100vh;
      height: 100%;
	}
}
